*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#all{
    height: 100vh;
    background: linear-gradient(to right,#e8ccff,#D1E5F0);

}
/*input container*/
#inputerrorbox{
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    height: 150px;
    width: 250px;
    background-color: white;
    transform: translate(-50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    box-shadow: 4px 4px 4px #555;
    
}
#inputerrorbox h1{
    color: rgb(134, 2, 2);
}
#inputerrorbox h3{
    color: rgb(46, 46, 46);
    font-weight: lighter;
    margin-top: 10px;
}
/*linputerrorbox*/
#linputerrorbox{
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    height: 150px;
    width: 250px;
    background-color: white;
    transform: translate(-50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    box-shadow: 4px 4px 4px #555;
    
}
#linputerrorbox small{
    text-align:end;
}
#linputerrorbox h3{
    color: rgb(46, 46, 46);
    font-weight: lighter;
    margin-top: 10px;
}
#returnarrr{
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}
#inputcontainer{
    display:none;
    background:radial-gradient(#2d5185,#092041);
    position: absolute;
 
    box-shadow: 4px 4px 4px #555;
    width: 100%;
    height: 100vh;
    
}
#tasknav{
    background:linear-gradient(#bfc1c2,#7abcff);
    padding: 10px;
    box-shadow: 4px 4px 4px #222222;
}
#inpentries{
    margin: 30px;
}
.inpentries{  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 20px;

}

#addtaskbtn{
    color: rgb(16, 99, 16);
    bottom: 20px;
    position:fixed;
    transform: translateX(-50%);
    right:30px; 
    background-color:rgb(162, 238, 162);
    border: none;
    cursor: pointer;
    padding: 10px 17px;
    border: none;
    border-radius: 50%;

}
#inputcontainer label{
    display: block;
    color: #bfc1c2;
}
#inpdate{
    border: transparent;
    border-bottom: 2px solid #ff6e6e;
    background: transparent;
    height: 30px;
    width: 890px;
    color: #fff;
    word-wrap: break-word;
    font-weight: lighter ;
    font-size: small;
}
input::-webkit-calender-picker-indicator{
    appearance: none;
    -webkit-appearance: none;
    background-color: #141313;
}
#inptask{
    border: transparent;
    border-bottom: 2px solid #ff6e6e;
    background: transparent;
    height: 30px;
    color: #fff;
    width: 890px;
    word-wrap: break-word;
    font-weight: lighter ;
    font-size: small;
}
input:focus{
    outline: none;
}
#inptask::placeholder{
    color: rgb(255, 255, 255);
    
}
#inpdate::placeholder{
    color: rgb(255, 255, 255);

}
/* first interface*/
#bgimg{
    position: absolute;
    top: 35%;
    left: 42%;
    opacity: 70%;

}
#bgimg img{
    display: block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 50%;
    
    width: 40%;
    min-width: 100px;
    border-radius: 20%;
}
#bgimg h2{
    display: flex;
    min-width: 50px;
    flex-basis: 20%;
}
#mainicon{
    margin: 20px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
}
#h1one,#h1two{
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    opacity: 90%;
    text-shadow: 4px 4px 4px #555;

}

#h1two{
    padding-left: 60px;
}

#inputbox{
    
    bottom: 20px;
    position:fixed;
    transform: translateX(-50%);
    right:30px;     
    
}
#addbtn{
    color: white;
    background: #241400;
    padding: 7px 17px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
}
/*content*/
#content{
    max-height:385px ;
    overflow: auto;
}
#content::-webkit-scrollbar{
    display: none;
}

.new-element{
    display: block;
    padding: 10px;
    margin: 20px;
    list-style: none;
    max-width: 79%;
    word-wrap: break-word;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 4px 4px 4px #555;
    transition: opacity 1.5s ease, transform 1.5s ease;

            
}
.delbtn{
    accent-color: green;
    cursor: pointer;
}

@media (max-width:870px) {
    #bgimg{
        margin-top: 10%;
    }
}
@media (max-width:650px) {
    #bgimg{
        margin-top: 15%;
    }
}
@media (max-width:460px) {

    .new-element{
        max-width: 100%;
    }
}
@media (max-width:340px) {

    #input{
    
        bottom: 10px;
        position:fixed;
        transform: translateX(-50%);
        right:0;     
        
    }
    .new-element{
        max-width: 100%;
    }
}
@media (max-width:310px) {

    .new-element{
        max-width: 100%;
    }
}
